h1 {
    font-size: 24px; /* Augmente la taille de la police */
}

ul {
    list-style: none; /* Supprime les puces de la liste */
}

li {
    margin-bottom: 20px; /* Ajoute de l'espace entre les éléments de la liste */
    border: 1px solid #ccc; /* Ajoute une bordure autour de chaque recette */
    padding: 10px; /* Ajoute de l'espace intérieur pour une meilleure lisibilité */
}

h2 {
    font-size: 20px;
}